<header class="site-header">
    <div class="site-header__inner container">
        <a class="logo" href="/" aria-label="Wealth Asset Management, home">
            <svg class="logo__mark" aria-hidden="true" focusable="false"><use href="#mark" /></svg>
            <span class="logo__wordmark" aria-hidden="true">Wealth</span>
            <span class="logo__subline" aria-hidden="true">Asset Management</span>
        </a>
        <nav class="site-nav" aria-label="Primary">
            <button class="site-nav__toggle" type="button" aria-expanded="false" aria-controls="site-nav-list" hidden>
                <svg class="icon site-nav__open-icon" aria-hidden="true" focusable="false"><use href="#icon-menu" /></svg>
                <svg class="icon site-nav__close-icon" aria-hidden="true" focusable="false"><use href="#icon-close" /></svg>
                <span class="visually-hidden">Menu</span>
            </button>
            <ul class="site-nav__list" id="site-nav-list">
                <li class="site-nav__item"><a class="site-nav__link" href="/#about-us">About</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="/strategies/">Strategy</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="/people/">People</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="/news/">News</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="/contact.html">Contact</a></li>
                <li class="site-nav__item"><a class="site-nav__link" href="/legal.html">Legal</a></li>
            </ul>
        </nav>
    </div>
</header>
